body {
    background-color:#111e87;
}
#header {
    color:white;
    width:auto;
    height:175px;;

}
#headtext {
    font-size:10vw;
    text-shadow: 2px 2px 2px #000000;
    top:30%;
    position:relative;
}
#twitter {
    width:115%;
    margin-left:-7.5%;
}
#list {
    width:115%;
    margin-left:-7.5%;
    min-height:1350px;
}
#listfr {
    width:100%;
    min-height:1350px;
}
#rules {
    width:115%;
    margin-left:-7.5%;
}
#subheader {
    height:75px;
}
#subhead {
    color:white;
    font-size:3.5vw;
}
#swipe {
    position:absolute;
    top:50%;
    left:91%;
    width:10%;
    height:10%;
}
#swipe2 {
    position:absolute;
    top:120%;
    left:91%;
    width:10%;
    height:10%;
}
#swipe3 {
    position:absolute;
    top:131%;
    left:91%;
    width:10%;
    height:10%;
}
#swipe4 {
    position:absolute;
    top:202%;
    left:91%;
    width:10%;
    height:10%;
}
#swipe5 {
    position:absolute;
    top:120%;
    left:75%;
    width:10%;
    height:10%;
}
#swipe6 {
    position:absolute;
    top:131%;
    left:75%;
    width:10%;
    height:10%;
}

